<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div id="page">
  <header>
    <a class="logo" title="Paranormalminds" href="<%= home_url %>"><span>Paranormalminds</span></a>
    <div class="hero">
      <h1>Students discover the fun in education.</h1>
      <a class="btn" title="Get advice from to learners" href="#">Get advice from top learners</a>
    </div>
  </header>

  <section class="main">
    <aside>
      <div class="content mission">
        <h3><a href="#">Our mission</a></h3>
        <p>Values are what we start with, and culture is what we end up with.
        Paranormalmids has a unique culture, which sets us apart from other NPOs.
        Our values guides our decision making and daily conduct. All this are centered around
        education and learning in general.</p>
      </div>
    </aside>
    <aside>
      <div class="content mentors">
        <h3><a href="#">Our Mentors</a></h3>
        <p>Our mentors include some of the best student in the community. We match each learner based on their personality
          from our pool of mentors. With common interest between the mentor and mentee, we maximise the mutual benefits
          of the relationship.
        </p>
      </div>
    </aside>
    <aside>
      <div class="content community">
        <h3><a href="#">Our community</a></h3>
        <p>Our community is made up of learners from various schools and universities. Whenever you join, however long you stay, the exceptional PAM experience last a lifetime. Paranormalminds
          will equip you with experience and perspective that will define your future.
        </p>
      </div>
    </aside>
  </section>
  <section class="atmosphere">
    <article>
      <h2> Vision 2019 </h2>
      <p>By 2019 we want everyone who have joined our community to qualify for one of the top varsities in Africa.
      This means they will have to destinction in all subject. Possible they will come back and become mentors to the
        next generation of Paranormalminds
      </p>
      <a class="btn" title="Join th community" href="#">Join the community</a>
    </article>
  </section>
  <section class="how-to">
    <aside>
      <div class="content">
        <img src="<%= image_url('Home/resources.jpg') %>" alt="Learning Resources">
        <h4>Lets A's those subjects</h4>
        <p>Find resources to help you A's those subjects. From video lessons, to past papers of all subjects.
        </p>
        <a title="Browse learning resources" href="#">Learn more</a>
      </div>
    </aside>

    <aside>
      <div class="content">
        <img src="<%= image_url('Home/beyond-school.png') %>" alt="Career Development">
        <h4>Imagine beyond school</h4>
        <p>From grade 9 a learners should at lest have an idea of how they want the future to look like.
        </p>
        <a title="Career guidance" href="#">Learn more</a>
      </div>
    </aside>

    <blockquote>
      <p class="quote"> Education is our passport to the future, for tomorrow belongs to the people who prepare for it today.</p>
      <p class="credit"><strong>Malcolm X</strong><br><em>An Author</em><br>Father of Black Power</p>
    </blockquote>
  </section>

</div>

