<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div id="page">
  <header>
    <a class="logo" title="Paranormalminds" href="<%= home_url %>"><span>Paranormalminds</span></a>
    <div class="hero">
      <h1>Students discover the fun in education.</h1>
      <a class="btn" title="Get advice from to learners" href="#">Get advice from top learners</a>
    </div>
  </header>

  <section class="main"></section>
  <section class="atmosphere"></section>
  <section class="How-to"></section>

</div>

